// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//

/*-------------------------------------*/
/*            Мой переменные           */
/*-------------------------------------*/


//Цвета
$main-color: #333;
$main-txt-color: $main-color;
$error: #e3342f;

// Типограция
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Размеры
$container-size: 1200px;
$container-padding: 20px;

$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
